<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%= assets.taprich %>">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/index.css">
    <title>TapRich</title>
  </head>
  <body>
    
<!--     first play -->
    <div class="first-play" id="first-play">
      <div class="first-play-box">
        <div class="first-play-group">
          <img src="<%= assets.question %>">
        </div>
        <div class="first-play-group">
          Welcome to <strong>TapRich</strong> game! this is Clicker game, so you need <strong>tap</strong> faster as you can to get rich faster! <strong>enjoy!</strong>
        </div>
        <div class="first-play-group">
          <button class="btn btn-start">
            Start earn
          </button>
        </div>        
      </div>
    </div>
    
    <script src="script.js" defer></script>
  </body>
</html>