<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%= assets.taprich %>">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/index.css">
    <title>TapRich</title>
  </head>
  <body>
    
<!--     first play -->
    <div class="main" id="click">
    </div>
    
    <div class="first-play" id="first-play">
      <div class="first-play-box">
        <div class="first-play-group">
          <img src="<%= assets.question %>">
        </div>
        <div class="first-play-group">
          Welcome to <strong>TapRich</strong> game! this is Clicker game, so you need <strong>tap</strong> faster as you can to get rich faster! <strong>enjoy!</strong>
        </div>
        <div class="first-play-group">
          <button class="btn btn-start" id="start-btn">
            Start earn
          </button>
        </div>        
      </div>
    </div>
    
<!--     navigation -->
    <div class="navbar navbar-hide">
      <ul class="navs">
        <li class="nav-item">
          <a class="nav-link" onclick="openNav()"><img src="<%= assets.up %>"></a>
        </li>
      </ul>
      
      <div class="navbar-groups">
        <div class="navbar-group-btn">
          <ul class="navbars">
            <li class="navbar-item">
              <a class="navbar-link" onclick="navOpen('dollar')"><img src="<%= assets.dollar %>"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <script src="script.js" defer></script>
  </body>
</html>