/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #9bf218;
}

.btn {
  outline: none;
  border: 0;
  padding: 10px 40px;
  font-size: 16px;
  background-color: #008dc9;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #00b3ff;
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.btn:focus {
  background-color: #00b3ff;
}

/* keyframe */
@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  95% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}